colorama==0.3.3
datefinder==0.6.1
mercurial==3.5.1
oauthlib==2.0.2
pathlib==1.0.1
powerline-status==2.2.dev9999+git.aa33599e3fb363ab7f2744ce95b7c6465eef7f08
psutil==3.1.1
pygame==1.9.2rc0
python-dateutil==2.6.0
pytz==2017.2
regex==2016.1.10
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
textstat==0.3.1
thefuck==2.6
TwitterAPI==2.4.5
vboxapi==1.0
